<div class="filters">
  <div class="">
    <div class="left">
      <div class="title">
        <h4>Filtros</h4>
      </div>
    </div>

    <div class="selects">
      <div class="select">
        <mat-form-field>
          <mat-label>Tipo de produto</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select">
        <mat-form-field>
          <mat-label>Tipo de produto</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select">
        <mat-form-field>
          <mat-label>Tipo de produto</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="new">
    <a class="new-link" [routerLink]="['/produtos/novo']" aria-label="Novo produto">
      Novo
      <mat-icon class="new-icon">add_circle</mat-icon>
    </a>
  </div>
</div>

<div class="grid">
  <div class>
    <app-grid
    [columns]="columns"
    [itens]="itens">
    </app-grid>
  </div>


</div>
