<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="false" class="navcontent">
    <div class="title">
      <img class="logo" src="Zesty-Logo.svg" alt="">
      <h1>Zesty Estoque</h1>
    </div>
    <ng-container *ngFor="let modulo of modulos">
      <div class="subcontent">
        <div class="subcontent-header">
          <button
            mat-button
            color="primary"
            (click)="sidenav.toggle()"
            [routerLink]="['/', modulo.codigo.toLowerCase()]">
            {{ modulo.nome }}
          </button>

          <button
            *ngIf="modulo.filhos?.length"
            mat-icon-button
            class="expand-button"
            (click)="toggleFilhos(modulo.codigo); $event.stopPropagation()"
            [attr.aria-label]="isExpanded(modulo.codigo) ? 'Fechar ' + modulo.nome : 'Abrir ' + modulo.nome">
            <mat-icon>{{ isExpanded(modulo.codigo) ? 'expand_less' : 'expand_more' }}</mat-icon>
          </button>
        </div>

        <div class="subcontent-children" *ngIf="modulo.filhos?.length && isExpanded(modulo.codigo)">
          <button
            *ngFor="let filho of modulo.filhos"
            mat-button
            color="primary"
            class="child-button"
            (click)="sidenav.toggle()"
            [routerLink]="['/', modulo.codigo.toLowerCase(), filho.codigo.toLowerCase()]">
            {{ filho.nome }}
          </button>
        </div>
      </div>
    </ng-container>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-toolbar class="toolbar">

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>
<!--
  <button mat-icon-button class="cart-button" (click)="abrirCarrinho()">
    <mat-icon>shopping_bag</mat-icon>
  </button> -->

</mat-toolbar>
    </mat-toolbar>
    <div class="content-padding">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

