@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$green-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --zesty-primary: #4caf50;
  --zesty-primary-dark: #357a38;
  --zesty-primary-light: #a5d6a7;

  --zesty-accent: #81c784;
  --zesty-accent-dark: #66bb6a;
  --zesty-accent-light: #c8e6c9;

  --zesty-background: #f7fbf7;
  --zesty-surface: #edf6ec;

  --zesty-text: #1f2937;
  --zesty-text-title: #2F3D2E;
  --zesty-text-secondary: #6b7280;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: white;
  color: var(--zesty-text);
}
